#CONFIG GENERAL
TIMEOUT = 30
ASSISTANT_NAME = "Alexia"

#CONFIG DE GEMINI
API_KEY_GEMINI=
MODEL_GEMINI="gemini-3.5-flash"

#CONFIG DE OPENAI
OPENAI_API_KEY = 
MODEL_OPENAI="gpt-4o-mini"

#CONFIG DE GROQ
API_KEY_GROQ=
MODEL_GROQ="openai/gpt-oss-20b"

# CONFIG DE HUGGING FACE
API_KEY_HF=
MODEL_HF="meta-llama/Llama-3.1-8B-Instruct"